.Loading_Spinner {
  /* margin: 0 auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.root_div_home {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  justify-content: space-evenly;
}
.main_div {
  width: 400px;
  margin-left: 10px;

  /* margin: 0 auto; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.total_div {
  margin-top: 40px;
  width: 600px;
}
.main_details {
  display: flex;
  margin-top: 40px;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  justify-content: center;
}
.details_div {
  margin: 0 auto;
  margin: 10px;
  width: 300px;

  margin-bottom: 40px;
}

.themic_div {
  display: none;
  margin-top: 50px;
  margin-left: 20px;
}

.themic_div.show {
  display: inherit;
}

@media only screen and (min-width: 900px) {
  .themic_div {
    position: fixed;
    bottom: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .main_details {
    display: flex;
    margin-top: 40px;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
  }
  .total_div {
    margin-top: 10px;
    width: 300px;
  }
}

/* .BigTranscript {
  color: red;
  font-family: "Organetto";
  font-size: 1.4rem;
  line-height: 1.15;
  margin-left: 20px;
}

.BigTranscript .Entity {
  color: #909090;
}

.BigTranscript .Entity.room {
  color: #1fd3f3;
  align-items: center;
}

.BigTranscript .Entity.device {
  color: #1fd3f3;
  align-items: center;
  justify-content: center;
} */
