.Loading_Spinner {
  /* margin: 0 auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.root_div_home {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  justify-content: space-evenly;
}
.main_div {
  width: 400px;
  margin-left: 10px;

  /* margin: 0 auto; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.total_div {
  margin-top: 40px;
  width: 600px;
}
.main_details {
  display: flex;
  margin-top: 40px;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  justify-content: center;
}
.details_div {
  margin: 0 auto;
  margin: 10px;
  width: 300px;

  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .main_details {
    display: flex;
    margin-top: 40px;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
  }
  .total_div {
    margin-top: 10px;
    width: 300px;
  }
}
